<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>个人简历</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; line-height: 1.5;">
<h1 style="text-align: center;">个人简历</h1>
<div style="text-align: center;">
    <img src="OIP-C.jfif" alt="个人照片" style="width: 200px; margin-top: 20px;">
</div>
<table align="center" style="border-collapse: collapse; width: 1300px; margin-top: 20px;">
<tr>
<th style="width=53px; fixed=true; background-color: #eee; border: 1px solid #ccc; padding: 10px; width: 500px;">基本信息</th>
<th style="background-color: #eee; border: 1px solid #ccc; padding: 10px; width: 500px;">求职意向</th>
</tr>
<tr>
<td style="border: 1px solid #ccc; padding: 10px;">姓名：刘泽普<br>性别：男<br>年龄：21岁<br>毕业院校：保定学院<br>专业：人工智能<br>学历：本科<br>工作年限：5年<br>电话：13888888888<br>邮箱：zhangsan@example.com<br>个人博客：<a href="http://www.example.com/zhangsan" style="color: #0066cc; text-decoration: none;">http://www.example.com/zhangsan</a></td>
<td style="border: 1px solid #ccc; padding: 10px;">期望职位：Python后端开发工程师<br>期望薪资：20k-25k</td>
</tr>
</table>

<h2 align="center" style="margin-top: 30px;">教育经历</h2>
<table align="center" style="border-collapse: collapse; width: 1300px; margin-top: 20px;">
<tr>
<th style="background-color: #eee; border: 1px solid #ccc; padding: 10px;">时间</th>
<th style="background-color: #eee; border: 1px solid #ccc; padding: 10px;">学校</th>
<th style="background-color: #eee; border: 1px solid #ccc; padding: 10px;">专业</th>
<th style="background-color: #eee; border: 1px solid #ccc; padding: 10px;">学历</th>
</tr>
<tr>
<td style="border: 1px solid #ccc; padding: 10px;">2013.09-2017.07</td>
<td style="border: 1px solid #ccc; padding: 10px;">保定学院</td>
<td style="border: 1px solid #ccc; padding: 10px;">人工智能</td>
<td style="border: 1px solid #ccc; padding: 10px;">本科</td>
</tr>
</table>

<h2 align="center" style="margin-top: 30px;">工作经历</h2>
<table align="center" style="border-collapse: collapse; width: 1300px; margin-top: 20px;">
<tr>
<th style="background-color: #eee; border: 1px solid #ccc; padding: 10px;">时间</th>
<th style="background-color: #eee; border: 1px solid #ccc; padding: 10px;">公司</th>
<th style="background-color: #eee; border: 1px solid #ccc; padding: 10px;">职位</th>
<th style="background-color: #eee; border: 1px solid #ccc; padding: 10px;">描述</th>
</tr>
<tr>
<td style="border: 1px solid #ccc; padding: 10px;">2017.07-至今</td>
<td style="border: 1px solid #ccc; padding: 10px;">阿里巴巴</td>
<td style="border: 1px solid #ccc; padding: 10px;">Python后端开发工程师</td>
<td style="border: 1px solid #ccc; padding: 10px;">负责公司重要业务系统的开发，包括需求分析、数据库设计、接口开发等</td>
</tr>
</table>

<h2 align="center" style="margin-top: 30px;">技能清单</h2>
<ul style="margin-top: 20px; margin-bottom: 20px; list-style-type: none; padding-left: 0;">
<li style="margin-bottom: 10px;">熟练掌握Python编程语言、Django和Flask框架</li>
<li style="margin-bottom: 10px;">熟悉使用HTML、CSS和JavaScript等前端技术</li>
<li style="margin-bottom: 10px;">熟悉mysql数据库以及SQL语言</li>
<li style="margin-bottom: 10px;">熟悉Git代码版本管理工具</li>
<li style="margin-bottom: 10px;">熟悉python垃圾回收机制与并发编程的使用</li>
<li>具备良好的团队协作能力，善于沟通和解决问题</li>
</ul>

<h2 align="center" style="margin-top: 30px;">项目经验</h2>
<table align="center" style="border-collapse: collapse; width: 1300px; margin-top: 20px;">
<tr>
<th style="background-color: #eee; border: 1px solid #ccc; padding: 10px;">时间</th>
<th style="background-color: #eee; border: 1px solid #ccc; padding: 10px;">项目名称</th>
<th style="background-color: #eee; border: 1px solid #ccc; padding: 10px;">描述</th>
<th style="background-color: #eee; border: 1px solid #ccc; padding: 10px;">职责</th>
<th style="background-color: #eee; border: 1px solid #ccc; padding: 10px;">技术栈</th>
</tr>
<tr>
<td style="border: 1px solid #ccc; padding: 10px;">2022年-至今</td>
<td style="border: 1px solid #ccc; padding: 10px;">项目名称：艾莉-学前启蒙AI机器人</td>
<td style="border: 1px solid #ccc; padding: 10px;">一款艾莉机器人APP后端服务的开发和维护</td>
<td style="border: 1px solid #ccc; padding: 10px;">负责需求分析、接口开发、算法优化、数据库设计及维护等</td>
<td style="border: 1px solid #ccc; padding: 10px;">Python、Django、MYSQL等</td>
</tr>
</table>

<h2 align="center" style="margin-top: 30px;">获奖情况</h2>
<ul style="margin-top: 20px; margin-bottom: 20px; list-style-type: none; padding-left: 0;">
<li style="margin-bottom: 10px;">“创享未来”第二届创新创意金点子大赛三等奖</li>
<li style="margin-bottom: 10px;">第九届互联网+大赛省级铜奖</li>
<li>大学生创新创业训练计划省级立项</li>
</ul>

<h2 align="center" style="margin-top: 30px;">参考资料</h2>
<ul style="margin-top: 20px; margin-bottom: 20px; list-style-type: none; padding-left: 0;">
<li style="margin-bottom: 10px;">个人作品展示：<a href="https://github.com/zhangsan" style="color: #0066cc; text-decoration: none;">https://github.com/zhangsan</a></li>
<li>个人博客：<a href="http://www.example.com/zhangsan/blog" style="color: #0066cc; text-decoration: none;">http://www.example.com/zhangsan/blog</a></li>
</ul>
</body>
</html>