<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .table{
        border: 1px solid red;
        border-collapse: collapse;
        width: 800px
        }
        .table tr th,
        .table tr td{
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <table class="table">
        <tr>
            <th>序号</th>
            <th>ID</th>
            <th>标题</th>
        </tr>
        {% for book in book_list %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>